* {
    outline: none;
}

h1 {
    font-family: Aharoni;
    color: grey;
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: -3px;
}

#background{
    text-align: center;
    background-color: lightgray;
    width: 300px;
    height: 495px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px 10px;
}

#display {
    width: 150px;
    position: relative;
    left: 800px;
    top: -530px;
}

div.block {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    border: 2px solid darkgrey;
    margin-top: -5px;
}

#score {
    font-family: Aharoni;
    font-size: 30px;
    background-color: white;
    color: grey;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid grey;
    position: relative;
    left: 25px;
    top: 10px;
}

#scoreWord {
    color: grey;
    font-family: Aharoni;
    font-size: 18px;
    text-align: center;
    top: 10px;
    position: relative;
}

button {
    background-color: gray;
    color: white;
    width: 50px;
    height: 50px;
    font-family: Arial;
    font-size: 20px;
    border-radius: 5px;
    margin: 3px 2px;
    border: none;
}

#downButton{
    position: relative;
    top: -180px;
    left: 850px;
    font-size: 18px;
    font-weight: bold;
}

#leftButton{
    position: relative;
    top: -290px;
    left: 740px;
    font-size: 24px;
    font-weight: bold;
}

#rightButton{
    position: relative;
    top: -290px;
    left: 902px;
    font-size: 24px;
    font-weight: bold;
}

#rotateButton{
    position: relative;
    top: -400px;
    left: 850px;
    font-size: 30px;
    padding-top: 12px;
}